*{
	background-color: black;
	margin: 0px;
	padding: 0px;
}

#menu{
	background-color: grey;
	height: 60px;
}

.backgr{
	background-color: transparent;
}

#icon{
	position: absolute;
	left:110px;
	top: 22px;
}

#logo{
	position: absolute;
	left: 20px;
	top: 20px;
}