*{
	background-color: #000;
	margin: 0px;
	padding: 0px;
}
body{
  margin: 0px;
}
div {
line-height:0px;
font-size:0
}
p {
word-break:break-word;
}

.header{
	width: 1512px;
	height: 900px;
	margin-right: auto;
	margin-left: auto;
}
.menu{
	width: 1512px;
	height: 844px;
	margin: 0 auto;
	position: relative;

}
.move{
	position: absolute;
}

.relative{
	position: relative;
}


.icon{
	float: left;
	width: 20px;
	height: 20px;
	left: 176px;
	top: 42px;

	position: absolute;
}

.logo{
	background:url(../images/logo.png);
	float: left;
	width: 90px;
	height: 22px;
	left: 54px;
	top: 42px;
	position: absolute;
}

.decorate{

	font-size: 16px;
	color: rgb(106,106,107);
	text-decoration: none;	
	list-style: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.item{
	
	float: right;
	margin: 20px;
	margin-top: 46px;
	right: 50px;
	
	
}

.search{: right;
	width: 18px;
	height: 18px;
	top: 42px;
	right: 62px;
	position: absolute;
	float: right;
}


.decorate:hover{
	color: rgb(230,39,57);
}

.ulsize{
	float: right;
	right: 100px;
	top: -842px;
	background-color: transparent;
}
.z-1{
	z-index: -1;
}
.z2{
	z-index: 2;
}
.z3{
	z-index: 9999;
}
.background{
	width: auto;
	max-width: 100%;

}

.sizetop{
	position: absolute;
	top: 36px;
	left: 372px;
	background-color: transparent;
}

.floatleft{
	float: left;
}

.floatright{
	float: right;
}

.cube{
	height: 256px;
	width: 1512px;
	background-color: rgba(255,255,255,0.1);
	
	top: -220px;
	
}
.showup:hover{
	opacity: 1;
}
.showup{
	transition:all 0.4s ease;
	opacity: 0.01;
}
.word-head{
	background-color: transparent;
	position: absolute;
	left: 200px;
}




/*图片集*/
.list-item{
	width: 378px;
	height: 165px;
	opacity: 0;
	transition: all 0.6s ease;
	background-color: transparent;
}

.list-item:hover{
	opacity: 0.95;
	height: 195px;
	width: 378px;
}
.item-position{
	top: 10px;
	left: 10px;
}
.list1{
	height: 195px;
	width: 378px;
	background-image:url('images/ph1.png');
	float: left;
	background-size: 100% 100%;
}
.list2{
	height: 195px;
	width: 378px;
	background-image:url('images/ph2.png');
	float: left;
	background-size: 100% 100%;
}

.list3{
	height: 195px;
	width: 378px;
	background-image:url('images/ph3.png');
	float: left;
	background-size: 100% 100%;
}
.list4{
	height: 195px;
	width: 378px;
	background-image:url('images/ph4.png');
	float: left;
	background-size: 100% 100%;
}
.list5{
	height: 195px;
	width: 378px;
	background-image:url('images/ph5.png');
	float: left;
	background-size: 100% 100%;
}
.list6{
	height: 195px;
	width: 378px;
	background-image:url('images/ph6.png');
	float: left;
	background-size: 100% 100%;
}
.list7{
	height: 195px;
	width: 378px;
	background-image:url('images/ph7.png');
	float: left;
	background-size: 100% 100%;
}
.list8{
	height: 195px;
	width: 378px;
	background-image:url('images/ph8.png');
	float: left;
	background-size: 100% 100%;
}
.phsize{
	height: 195px;
	width: 378px;
	float:left;
	top: -520px;
}

.photo{
	width: 1512px;
	height:390px;
	margin: 0 auto;
	position: relative;

}
.photolist{
	width: 1512px;
	height: 390px;
	position: relative;
	top: -250px;
	background-color: transparent;
}





/*Service部分*/
.service{
	width: 1512px;
	height:1170px;
	margin: 0 auto;
	position: relative;
	top: px;
}
.menu-tip{

	left: 50%;
	top: 0;
	font-size: 30px;
	color: rgb(203,203,203);
	text-align: center;
}

.container-mid1{
	width: 800px;
	height: 360px;
	background-color:transparent;
	left: 356px;
	position: relative;
	top: -180px;
}

.ourservice{
	position: relative;
	display: block;
	font-size: 26px;
	font-weight: bold;
	color: rgba(203,203,203,1);
	line-height: 20px;
	text-align: center;
	background-color: transparent;
	
}
.sentence-our{
	position: relative;
	display: block;
	font-size: 4px;
	color: rgba(203,203,203,0.5);
	line-height: 50px;
	text-align: center;
	background-color: transparent;
	
}
.sentence-our:before,
.sentence-our:after {
	content: '';
	position: absolute;
	top: 50%;
	background: rgba(203,203,203,0.2);
	width: 35%;
	height: 1px;
}
.sentence-our:before{
	left: 1%;
}
.sentence-our:after{
	right: 1%;
}
.backgroundlow{
	background-image: url('images/backgrlow.png');
	background-size: 1512px 1170px;
	height: 1170px;
	width: 1512px;

}	
.line{
	width: 0.8px;
	height: 100px;
	background-color: rgba(203,203,203,0.1);
	position: absolute;
	right: 2px;
	top: 30px;
}
.one-area{
	float: left;
	width: 200px;
	height: 120px;
	background-color:transparent;
	position: relative;
	top: 20px;
}
.list{
	background-color: transparent;
	width: 1200px;
	height: 310px;
	
}
.wordsize-big{
	font-size: 28px;
	
	background-color: transparent;
	display: inline-block;
}
.fantastic{
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.fantastic:hover{
	color: rgb(1,174,239);
}
.big-1{
	position: absolute;
	top: 70px;
	left: 16px;
	color: rgba(203,203,203,0.6);
}
.small-1{
	position: absolute;
	top: 40px;
	left: 60px;
	color: rgba(203,203,203,0.3);

}
.one-photo{
	background-color: transparent;
	position: absolute;
	top: 100px;
	left: 74px;
	width: 46px;
	height: 40px;
}
.two-area{
	float: left;
	width: 200px;
	height: 120px;
	background-color:transparent;
	position: relative;
	top: 20px;
}
.big-2{
	position: absolute;
	top: 70px;
	left: 16px;
	color: rgba(203,203,203,0.6);
}
.small-2{
	position: absolute;
	top: 40px;
	left: 70px;
	color: rgba(203,203,203,0.3);

}
.two-photo{
	background-color: transparent;
	position: absolute;
	top: 100px;
	left: 74px;
	width: 40px;
	height: 40px;
}
.add2{
	background-color: transparent;
	position: absolute;
	top: 116px;
	left: 90px;
	width: 8px;
	height: 10px;

}
.three-area{
	float: left;
	width: 200px;
	height: 120px;
	background-color:transparent;
	position: relative;
	top: 20px;
}
.big-3{
	position: absolute;
	top: 70px;
	left: 38px;
	color: rgba(203,203,203,0.6);
}
.small-3{
	position: absolute;
	top: 40px;
	left: 76px;
	color: rgba(203,203,203,0.3);

}
.three-photo{
	background-color: transparent;
	position: absolute;
	top: 94px;
	left: 80px;
	width: 40px;
	height: 40px;
}
.four-area{
	float: left;
	width: 200px;
	height: 120px;
	background-color:transparent;
	position: relative;
	top: 20px;
}
.big-4{
	position: absolute;
	top: 70px;
	left: 36px;
	color: rgba(203,203,203,0.6);
}
.small-4{
	position: absolute;
	top: 40px;
	left: 70px;
	color: rgba(203,203,203,0.3);

}
.four-photo{
	background-color: transparent;
	position: absolute;
	top: 96px;
	left: 78px;
	width: 40px;
	height: 40px;
}
.wordsize-small{
	font-size: 12px;

	background-color: transparent;
	display: inline-block;
	
}

.bottom-sentence{
	background-color: transparent;
	width: 900px;
	height: 300px;
	position: absolute;
	top: 1100px;
	left: -50px;
}
.size-1{
	background-color: transparent;
	position: absolute;
	top: 50px;
	height: 34px;
	width: 690px;
	left: 100px;
}
.size-2{
	background-color: transparent;
	position: absolute;
	left: 20px;
	width: 858px;
	height: 39px;
}
.view-more{
	background-color: transparent;
	height: 30px;
	width: 120px;
	border: 1px solid #414141;
	font-size: 12px;
	color: rgba(203,203,203,0.6);
	position: absolute;
	bottom: 120px;
	left: 390px;
	text-align: center;
	line-height: 32px;
	text-decoration: none;
	display: inline-block;


	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.view-more:hover{
	color: rgb(230,39,57);
	border-color: rgb(230,39,57);
}






/*底部*/
.foot{
	height: 552px;
	margin-right: auto;
	margin-left: auto;
	width: 1512px;	
}

.sentence-low{
	background-color: transparent;
	height: 60px;
	width: 1200px;
	left: 200px;
	top: 246px;
    position: absolute;
}

.sentence-mid{
	margin-left: auto;
	margin-right: auto;
}
.circle-area{
	background-color: transparent;
	width: 300px;
	height: 300px;
	position: absolute;
	top: 126px;
	left: 606px;
}
.circle-position{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 126px;
	left: 606px;
}

.word-low-title{
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	background-color: transparent;
	position: absolute;
	top: 80px;
	left: 70px;
}
.date-num1{
	font-size: 38px;
	font-weight: bold;
	color: #fff;
	background-color: transparent;
	float:left;
	position: absolute;
	left: 46px;
	top: 116px;
}
.date-num2{
	font-size: 38px;
	font-weight: bold;
	color: #fff;
	background-color: transparent;
	float:left;
	position: absolute;
	left: 124px;
	top: 116px;
}

.date-num3{
	font-size: 38px;
	font-weight: bold;
	color: #fff;
	background-color: transparent;
	float:left;
	position: absolute;
	left: 204px;
	top: 116px;
}
.date-word1{
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background-color: transparent;
	float:left;
	position: absolute;
	left: 52px;
	top: 152px;
}
.date-word2{
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background-color: transparent;
	float:left;
	position: absolute;
	left: 126px;
	top: 152px;
}
.date-word3{
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background-color: transparent;
	float:left;
	position: absolute;
	right: 42px;
	top: 152px;
}

.buttonlow{
	width: 176px;
	height: 36px;
	position:relative;
	left: 60px;
	top: 190px;
	border: 1px solid #1bc0ee;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.buttonlow-word{
	font-size: 12px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: block;
	text-decoration: none;
	line-height: 36px;
	font-weight: bold;
}


.buttonlow:hover{
	color: #1bc0ee;
	background-color: #fff;
}



